<main>
  <app-header-phases></app-header-phases>
  <div class="container">
    <div div class="box-validation-question">
      <p></p>
    </div>
    <div class="container-validation-response">
      <button class="box-validation-response">
        <p></p>
      </button>
      <button class="box-validation-response">
        <p></p>
      </button>
      <button class="box-validation-response">
        <p></p>
      </button>
      <button class="box-validation-response">
        <p></p>
      </button>
    </div>
  </div>
</main>
