@import "../../../../config-scss/size-config.scss";

:host {
  .container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .container-form-tittle {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: #9E6B2B;
      width: size-calc-iPhone(318);
      height: size-calc-iPhone(64);
      border: size-calc-iPhone(5) solid #C2955C;
      border-radius: size-calc-iPhone(30);
      margin-bottom: size-calc-iPhone(260);

      @media (min-width: 540px) {
        width: size-calc-iPad(415);
        height: size-calc-iPad(78);
        border: size-calc-iPad(5) solid #C2955C;
        border-radius: size-calc-iPad(30);
        margin-bottom: size-calc-iPad(328);
      }

      p {
        margin: auto 0;
        font-size: size-calc-iPhone(32);
        letter-spacing: size-calc-iPhone(3);
        text-shadow: size-calc-iPhone(-0.5) 0 black, 0 size-calc-iPhone(0.5) black, size-calc-iPhone(0.5) 0 black, 0 size-calc-iPhone(-0.5) black;

        @media (min-width: 540px) {
          font-size: size-calc-iPad(40);
          letter-spacing: size-calc-iPad(3);
          text-shadow: size-calc-iPad(-1) 0 black, 0 size-calc-iPad(1) black, size-calc-iPad(1) 0 black, 0 size-calc-iPad(-1) black;
        }
      }
    }

    form {
      background: url("../../../../assets/box-auth-iPhone.png");
      background-size: cover;
      width: size-calc-iPhone(358);
      height: size-calc-iPhone(260);
      border-radius: size-calc-iPhone(30);

      @media (min-width: 540px) {
        background: url("../../../../assets/box-auth-iPad.png");
        background-size: cover;
        width: size-calc-iPad(540);
        height: size-calc-iPad(385);
        border-radius: size-calc-iPad(50);
      }

      .button-main {
        position: absolute;
        left: 0;
      }

      .container-form-input {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: size-calc-iPhone(67);
        gap: size-calc-iPhone(16);

        @media (min-width: 540px) {
          margin-top: size-calc-iPad(116.5);
          gap: size-calc-iPad(28);
        }

        .icon {
          position: absolute;
          width: size-calc-iPhone(32);
          height: size-calc-iPhone(32);
          box-shadow: 0px size-calc-iPhone(4) size-calc-iPhone(4) 0px rgba(0,0,0,0.25);
          border-radius: size-calc-iPhone(10);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: size-calc-iPhone(8);
          margin-left: size-calc-iPhone(30);

          @media (min-width: 540px) {
            width: size-calc-iPad(40);
            height: size-calc-iPad(40);
            box-shadow: 0px size-calc-iPad(4) size-calc-iPad(4) 0px rgba(0,0,0,0.25);
            border-radius: size-calc-iPad(14);
            margin-top: size-calc-iPad(10);
            margin-left: size-calc-iPad(30);
          }

          .icon-pen {
            width: size-calc-iPhone(12);
            height: size-calc-iPhone(20);

            @media (min-width: 540px) {
              width: size-calc-iPad(14);
              height: size-calc-iPad(22);
            }
          }

          .icon-card {
            width: size-calc-iPhone(16);
            height: size-calc-iPhone(14);

            @media (min-width: 540px) {
              width: size-calc-iPad(18);
              height: size-calc-iPad(16);
            }
          }

          .icon-padlock {
            width: size-calc-iPhone(16);
            height: size-calc-iPhone(16);

            @media (min-width: 540px) {
              width: size-calc-iPad(18);
              height: size-calc-iPad(18);
            }
          }
        }

        .icon-password {
          position: absolute;
          margin-top: size-calc-iPhone(19);
          margin-left: size-calc-iPhone(298);

          @media (min-width: 540px) {
            margin-top: size-calc-iPad(19);
            margin-left: size-calc-iPad(387);
          }

          .icon-eye {
            width: size-calc-iPhone(15);
            height: size-calc-iPhone(15);

            @media (min-width: 540px) {
              width: size-calc-iPad(18);
              height: size-calc-iPad(18);
            }
          }
        }

        input {
          width: size-calc-iPhone(181);
          height: size-calc-iPhone(40);
          background-color: #9E6B2B;
          border: size-calc-iPhone(5) solid #C2955C;
          border-radius: size-calc-iPhone(10);
          box-shadow: 0 size-calc-iPhone(4) size-calc-iPhone(4) 0 rgba(0, 0, 0, 0.25);
          padding-left: size-calc-iPhone(87);
          padding-right: size-calc-iPhone(50);
          color: #FFFFFF;
          font-size: size-calc-iPhone(18);
          font-weight: 300;

          @media (min-width: 540px) {
            width: size-calc-iPad(278);
            height: size-calc-iPad(50);
            border: size-calc-iPad(5) solid #C2955C;
            border-radius: size-calc-iPad(14);
            box-shadow: 0 size-calc-iPad(4) size-calc-iPad(4) 0 rgba(0, 0, 0, 0.25);
            padding-left: size-calc-iPad(87);
            padding-right: size-calc-iPad(50);
            font-size: size-calc-iPad(24);
          }
        }

        & input::placeholder {
          color: rgba(255, 255, 255, 0.5);
          font-size: size-calc-iPhone(18);
          font-weight: 300;

          @media (min-width: 540px) {
            font-size: size-calc-iPad(24);
          }
        }

        & input[type="password"] {
          font-size: size-calc-iPhone(12);

          @media (min-width: 540px) {
            font-size: size-calc-iPad(18);
          }
        }

        .input-error {
          border: size-calc-iPhone(5) solid #C2955C;
          animation: draw-border 0.5s forwards;

          @media (min-width: 540px) {
            border: size-calc-iPad(5) solid #C2955C;
          }
        }

        @keyframes draw-border {
          0% {
            border-color: #C2955C;
          }
          100% {
            border-color: #EF3349;
          }
        }

      }

      .container-form-router-link {
        display: flex;
        justify-content: space-around;
        margin-top: size-calc-iPhone(42);

        @media (min-width: 540px) {
          margin-top: size-calc-iPad(58);
        }

        p {
          color: #9E6B2B;
          text-shadow: size-calc-iPhone(-0.1) 0 black, 0 size-calc-iPhone(0.1) black, size-calc-iPhone(0.1) 0 black, 0 size-calc-iPhone(-0.1) black;
          font-size: size-calc-iPhone(14);

          @media (min-width: 540px) {
            text-shadow: size-calc-iPad(-0.1) 0 black, 0 size-calc-iPad(0.1) black, size-calc-iPad(0.1) 0 black, 0 size-calc-iPad(-0.1) black;
            font-size: size-calc-iPad(20);
          }
        }
      }
    }
  }
}
