@import "../../../config-scss/size-config.scss";

.container {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: size-calc-iPhone(102);
  gap: size-calc-iPhone(20);

  @media (min-width: 540px) {
    margin-top: size-calc-iPad(144);
    gap: size-calc-iPad(70);
  }

  .button-to-close{
    background-color: #EF3349;
    width: size-calc-iPhone(36);
    height: size-calc-iPhone(36);
    border-radius: size-calc-iPhone(12);
    box-shadow: 0 size-calc-iPhone(3) #D92036;
    transition: all 0.2s ease-in-out;

    @media (min-width: 540px) {
      width: size-calc-iPad(48);
      height: size-calc-iPad(48);
      border-radius: size-calc-iPad(16);
      box-shadow: 0 size-calc-iPad(3) #D92036;
    }

    &:active {
      box-shadow: 0 size-calc-iPhone(2) #8B0000;
      transform: translateY(size-calc-iPhone(2));

      @media (min-width: 540px) {
        box-shadow: 0 size-calc-iPad(2) #8B0000;
        transform: translateY(size-calc-iPad(2));
      }
    }

    p {
      font-size: size-calc-iPhone(24);
      text-shadow: size-calc-iPhone(-1) 0 black, 0 size-calc-iPhone(1) black, size-calc-iPhone(1) 0 black, 0 size-calc-iPhone(-1) black;

      @media (min-width: 540px) {
        font-size: size-calc-iPad(36);
        text-shadow: size-calc-iPad(-1) 0 black, 0 size-calc-iPad(1) black, size-calc-iPad(1) 0 black, 0 size-calc-iPad(-1) black;
      }
    }
  }

  .container-lives {
      display: flex;
      justify-content: center;
      gap: size-calc-iPhone(10);

      @media (min-width: 540px) {
        gap: size-calc-iPad(22);
      }

      .icon-heart {
        width: size-calc-iPhone(32);
        height: size-calc-iPhone(32);
        margin: auto 0;

        @media (min-width: 540px) {
          width: size-calc-iPad(40);
          height: size-calc-iPad(40);
        }
      }

      p {
        margin: auto 0;
        font-size: size-calc-iPhone(24);
        font-weight: 700;
        color: #FF4B4B;

        @media (min-width: 540px) {
          font-size: size-calc-iPad(32);
        }
      }
    }

  .container-progress-bar {
    display: flex;
    margin: auto 0;
    background-color: white;
    width: size-calc-iPhone(203);
    height: size-calc-iPhone(20);
    border-radius: size-calc-iPhone(6);
    overflow: hidden;

    @media (min-width: 540px) {
      width: size-calc-iPad(288);
      height: size-calc-iPad(32);
      border-radius: size-calc-iPad(8);
    }

    .progress {
      background-color: #F27728;
      height: 100%;
      transition: width 0.3s ease;
    }
  }
}
