<div class="container">
  <div>
    <button class="button-to-close" (click)="leave()"><p>X</p></button>
  </div>
  <div class="container-progress-bar">
    <div class="progress" [ngStyle]="{'width': progress + '%'}"></div>
  </div>
  <div class="container-lives">
    <img src="../../../assets/icon-heart.png" alt="icon-heart" class="icon-heart">
    <p>{{ vidas }}</p>
  </div>
</div>

<div *ngIf="showLeaveContainer" class="overlay" (click)="continueActivity()">
  <div class="container-leave" (click)="$event.stopPropagation()">
    <div class="button-continue">
      <button (click)="continueActivity()"><p>CONTINUAR A ATIVIDADE</p></button>
    </div>
    <div class="button-main">
      <button class="button-main-red" (click)="exit()">SAIR</button>
    </div>
  </div>
</div>
