<main>
  <div class="container">
    <app-header-stars-lives-config></app-header-stars-lives-config>

    <div class="phase-select phase-select-1">
      <button class="phase-number">
        <p (click)="start_phase(1)">1</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-2">
      <button class="phase-number">
        <p (click)="start_phase(2)">2</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-3">
      <button class="phase-number">
        <p (click)="start_phase(3)">3</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-4">
      <button class="phase-number">
        <p (click)="start_phase(4)">4</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-5">
      <button class="phase-number">
        <p (click)="start_phase(5)">5</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-6">
      <button class="phase-number">
        <p (click)="start_phase(6)">6</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-7">
      <button class="phase-number">
        <p (click)="start_phase(7)">7</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-8">
      <button class="phase-number">
        <p (click)="start_phase(8)">8</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-9">
      <button class="phase-number">
        <p (click)="start_phase(9)">9</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-10">
      <button class="phase-number">
        <p (click)="start_phase(10)">10</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-11">
      <button class="phase-number">
        <p (click)="start_phase(11)">11</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-12">
      <button class="phase-number">
        <p (click)="start_phase(12)">12</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>
  </div>
</main>
