@import "../../../../config-scss/size-config.scss";

.container {
  height: 100vh;

  .phase-number {
    background: url("../../../../assets/phase-select.png");
    width: size-calc-iPhone(160);
    height: size-calc-iPhone(160);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 540px) {
      width: size-calc-iPad(160);
      height: size-calc-iPad(160);
    }

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: size-calc-iPhone(32);
      font-weight: bolder;
      width: size-calc-iPhone(80);
      height: size-calc-iPhone(80);
      margin: auto 0;

      @media (min-width: 540px) {
        font-size: size-calc-iPad(40);
        width: size-calc-iPad(80);
        height: size-calc-iPad(80);
      }
    }

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: size-calc-iPhone(32);
      font-weight: bolder;
      margin: auto 0;

      @media (min-width: 540px) {
        font-size: size-calc-iPad(40);
      }
    }
  }

  .phase-select-1 {
    position: absolute;
    right: 0;
    margin-top: size-calc-iPhone(220);
    margin-right: size-calc-iPhone(40);

    @media (min-width: 540px) {
      margin-top: size-calc-iPad(220);
      margin-right: size-calc-iPad(40);
    }
  }

  .phase-select-2 {
    position: absolute;
    right: 0;
    margin-top: size-calc-iPhone(460);
    margin-right: size-calc-iPhone(60);

    @media (min-width: 540px) {
      margin-top: size-calc-iPad(460);
      margin-right: size-calc-iPad(60);
    }
  }
}
