<main>
  <div class="container">
    <app-header-stars-lives-config></app-header-stars-lives-config>

    <!-- Fase 1 -->
    <div class="phase-select phase-select-1">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[0].estrelas)}">
        <p *ngIf="progressos[0] && !progressos[0].bloqueada; else lockedPhase1" (click)="start_phase(1)">
          1
        </p>
        <ng-template #lockedPhase1>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[0]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[0].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 2 -->
    <div class="phase-select phase-select-2">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[1].estrelas)}">
        <p *ngIf="progressos[1] && !progressos[1].bloqueada; else lockedPhase2" (click)="start_phase(2)">
          2
        </p>
        <ng-template #lockedPhase2>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[1]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[1].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 3 -->
    <div class="phase-select phase-select-3">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[2].estrelas)}">
        <p *ngIf="progressos[2] && !progressos[2].bloqueada; else lockedPhase3" (click)="start_phase(3)">
          3
        </p>
        <ng-template #lockedPhase3>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[2]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[2].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 4 -->
    <div class="phase-select phase-select-4">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[3].estrelas)}">
        <p *ngIf="progressos[3] && !progressos[3].bloqueada; else lockedPhase4" (click)="start_phase(4)">
          4
        </p>
        <ng-template #lockedPhase4>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[3]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[3].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 5 -->
    <div class="phase-select phase-select-5">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[4].estrelas)}">
        <p *ngIf="progressos[4] && !progressos[4].bloqueada; else lockedPhase5" (click)="start_phase(5)">
          5
        </p>
        <ng-template #lockedPhase5>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[4]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[4].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Replicando até a fase 40 -->
    <!-- Fase 6 -->
    <div class="phase-select phase-select-6">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[5].estrelas)}">
        <p *ngIf="progressos[5] && !progressos[5].bloqueada; else lockedPhase6" (click)="start_phase(6)">
          6
        </p>
        <ng-template #lockedPhase6>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[5]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[5].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 7 -->
    <div class="phase-select phase-select-7">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[6].estrelas)}">
        <p *ngIf="progressos[6] && !progressos[6].bloqueada; else lockedPhase7" (click)="start_phase(7)">
          7
        </p>
        <ng-template #lockedPhase7>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[6]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[6].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 8 -->
    <div class="phase-select phase-select-8">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[7].estrelas)}">
        <p *ngIf="progressos[7] && !progressos[7].bloqueada; else lockedPhase8" (click)="start_phase(8)">
          8
        </p>
        <ng-template #lockedPhase8>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[7]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[7].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 9 -->
    <div class="phase-select phase-select-9">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[8].estrelas)}">
        <p *ngIf="progressos[8] && !progressos[8].bloqueada; else lockedPhase9" (click)="start_phase(9)">
          9
        </p>
        <ng-template #lockedPhase9>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[8]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[8].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 10 -->
    <div class="phase-select phase-select-10">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[9].estrelas)}">
        <p *ngIf="progressos[9] && !progressos[9].bloqueada; else lockedPhase10" (click)="start_phase(10)">
          10
        </p>
        <ng-template #lockedPhase10>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[9]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[9].estrelas)}"></div>
        </div>
      </div>
    </div>

        <!-- Fase 11 -->
        <div class="phase-select phase-select-11">
          <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[10].estrelas)}">
            <p *ngIf="progressos[10] && !progressos[10].bloqueada; else lockedPhase11" (click)="start_phase(11)">
              11
            </p>
            <ng-template #lockedPhase11>
              <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
            </ng-template>
          </button>

          <div *ngIf="!progressos[10]?.bloqueada" class="progress-stars-bar-container">
            <div class="progress-stars-bar">
              <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[10].estrelas)}"></div>
            </div>
          </div>
        </div>

        <!-- Fase 12 -->
        <div class="phase-select phase-select-12">
          <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[11].estrelas)}">
            <p *ngIf="progressos[11] && !progressos[11].bloqueada; else lockedPhase12" (click)="start_phase(12)">
              12
            </p>
            <ng-template #lockedPhase12>
              <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
            </ng-template>
          </button>

          <div *ngIf="!progressos[11]?.bloqueada" class="progress-stars-bar-container">
            <div class="progress-stars-bar">
              <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[11].estrelas)}"></div>
            </div>
          </div>
        </div>

        <!-- Fase 13 -->
        <div class="phase-select phase-select-13">
          <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[12].estrelas)}">
            <p *ngIf="progressos[12] && !progressos[12].bloqueada; else lockedPhase13" (click)="start_phase(13)">
              13
            </p>
            <ng-template #lockedPhase13>
              <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
            </ng-template>
          </button>

          <div *ngIf="!progressos[12]?.bloqueada" class="progress-stars-bar-container">
            <div class="progress-stars-bar">
              <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[12].estrelas)}"></div>
            </div>
          </div>
        </div>

        <!-- Fase 14 -->
        <div class="phase-select phase-select-14">
          <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[13].estrelas)}">
            <p *ngIf="progressos[13] && !progressos[13].bloqueada; else lockedPhase14" (click)="start_phase(14)">
              14
            </p>
            <ng-template #lockedPhase14>
              <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
            </ng-template>
          </button>

          <div *ngIf="!progressos[13]?.bloqueada" class="progress-stars-bar-container">
            <div class="progress-stars-bar">
              <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[13].estrelas)}"></div>
            </div>
          </div>
        </div>

        <!-- Fase 15 -->
        <div class="phase-select phase-select-15">
          <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[14].estrelas)}">
            <p *ngIf="progressos[14] && !progressos[14].bloqueada; else lockedPhase15" (click)="start_phase(15)">
              15
            </p>
            <ng-template #lockedPhase15>
              <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
            </ng-template>
          </button>

          <div *ngIf="!progressos[14]?.bloqueada" class="progress-stars-bar-container">
            <div class="progress-stars-bar">
              <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[14].estrelas)}"></div>
            </div>
          </div>
        </div>

        <!-- Fase 16 -->
        <div class="phase-select phase-select-16">
          <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[15].estrelas)}">
            <p *ngIf="progressos[15] && !progressos[15].bloqueada; else lockedPhase16" (click)="start_phase(16)">
              16
            </p>
            <ng-template #lockedPhase16>
              <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
            </ng-template>
          </button>

          <div *ngIf="!progressos[15]?.bloqueada" class="progress-stars-bar-container">
            <div class="progress-stars-bar">
              <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[15].estrelas)}"></div>
            </div>
          </div>
        </div>

        <!-- Fase 17 -->
        <div class="phase-select phase-select-17">
          <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[16].estrelas)}">
            <p *ngIf="progressos[16] && !progressos[16].bloqueada; else lockedPhase17" (click)="start_phase(17)">
              17
            </p>
            <ng-template #lockedPhase17>
              <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
            </ng-template>
          </button>

          <div *ngIf="!progressos[16]?.bloqueada" class="progress-stars-bar-container">
            <div class="progress-stars-bar">
              <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[16].estrelas)}"></div>
            </div>
          </div>
        </div>

        <!-- Fase 18 -->
        <div class="phase-select phase-select-18">
          <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[17].estrelas)}">
            <p *ngIf="progressos[17] && !progressos[17].bloqueada; else lockedPhase18" (click)="start_phase(18)">
              18
            </p>
            <ng-template #lockedPhase18>
              <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
            </ng-template>
          </button>

          <div *ngIf="!progressos[17]?.bloqueada" class="progress-stars-bar-container">
            <div class="progress-stars-bar">
              <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[17].estrelas)}"></div>
            </div>
          </div>
        </div>

        <!-- Fase 19 -->
        <div class="phase-select phase-select-19">
          <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[18].estrelas)}">
            <p *ngIf="progressos[18] && !progressos[18].bloqueada; else lockedPhase19" (click)="start_phase(19)">
              19
            </p>
            <ng-template #lockedPhase19>
              <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
            </ng-template>
          </button>

          <div *ngIf="!progressos[18]?.bloqueada" class="progress-stars-bar-container">
            <div class="progress-stars-bar">
              <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[18].estrelas)}"></div>
            </div>
          </div>
        </div>

        <!-- Fase 20 -->
        <div class="phase-select phase-select-20">
          <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[19].estrelas)}">
            <p *ngIf="progressos[19] && !progressos[19].bloqueada; else lockedPhase20" (click)="start_phase(20)">
              20
            </p>
            <ng-template #lockedPhase20>
              <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
            </ng-template>
          </button>

          <div *ngIf="!progressos[19]?.bloqueada" class="progress-stars-bar-container">
            <div class="progress-stars-bar">
              <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[19].estrelas)}"></div>
            </div>
          </div>
        </div>

        <!-- Continuação para as fases restantes (21 a 40) -->

        <!-- Fase 21 -->
        <div class="phase-select phase-select-21">
          <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[20].estrelas)}">
            <p *ngIf="progressos[20] && !progressos[20].bloqueada; else lockedPhase21" (click)="start_phase(21)">
              21
            </p>
            <ng-template #lockedPhase21>
              <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
            </ng-template>
          </button>

          <div *ngIf="!progressos[20]?.bloqueada" class="progress-stars-bar-container">
            <div class="progress-stars-bar">
              <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[20].estrelas)}"></div>
            </div>
          </div>
        </div>

        <!-- Fase 22 -->
        <div class="phase-select phase-select-22">
          <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[21].estrelas)}">
            <p *ngIf="progressos[21] && !progressos[21].bloqueada; else lockedPhase22" (click)="start_phase(22)">
              22
            </p>
            <ng-template #lockedPhase22>
              <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
            </ng-template>
          </button>

          <div *ngIf="!progressos[21]?.bloqueada" class="progress-stars-bar-container">
            <div class="progress-stars-bar">
              <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[21].estrelas)}"></div>
            </div>
          </div>
        </div>

        <!-- Fase 23 -->
        <div class="phase-select phase-select-23">
          <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[22].estrelas)}">
            <p *ngIf="progressos[22] && !progressos[22].bloqueada; else lockedPhase23" (click)="start_phase(23)">
              23
            </p>
            <ng-template #lockedPhase23>
              <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
            </ng-template>
          </button>

          <div *ngIf="!progressos[22]?.bloqueada" class="progress-stars-bar-container">
            <div class="progress-stars-bar">
              <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[22].estrelas)}"></div>
            </div>
          </div>
        </div>

    <!-- Fase 24 -->
    <div class="phase-select phase-select-24">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[23].estrelas)}">
        <p *ngIf="progressos[23] && !progressos[23].bloqueada; else lockedPhase24" (click)="start_phase(24)">
          24
        </p>
        <ng-template #lockedPhase24>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[23]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[23].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 25 -->
    <div class="phase-select phase-select-25">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[24].estrelas)}">
        <p *ngIf="progressos[24] && !progressos[24].bloqueada; else lockedPhase25" (click)="start_phase(25)">
          25
        </p>
        <ng-template #lockedPhase25>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[24]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[24].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 26 -->
    <div class="phase-select phase-select-26">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[25].estrelas)}">
        <p *ngIf="progressos[25] && !progressos[25].bloqueada; else lockedPhase26" (click)="start_phase(26)">
          26
        </p>
        <ng-template #lockedPhase26>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[25]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[25].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 27 -->
    <div class="phase-select phase-select-27">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[26].estrelas)}">
        <p *ngIf="progressos[26] && !progressos[26].bloqueada; else lockedPhase27" (click)="start_phase(27)">
          27
        </p>
        <ng-template #lockedPhase27>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[26]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[26].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 28 -->
    <div class="phase-select phase-select-28">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[27].estrelas)}">
        <p *ngIf="progressos[27] && !progressos[27].bloqueada; else lockedPhase28" (click)="start_phase(28)">
          28
        </p>
        <ng-template #lockedPhase28>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[27]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[27].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 29 -->
    <div class="phase-select phase-select-29">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[28].estrelas)}">
        <p *ngIf="progressos[28] && !progressos[28].bloqueada; else lockedPhase29" (click)="start_phase(29)">
          29
        </p>
        <ng-template #lockedPhase29>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[28]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[28].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 30 -->
    <div class="phase-select phase-select-30">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[29].estrelas)}">
        <p *ngIf="progressos[29] && !progressos[29].bloqueada; else lockedPhase30" (click)="start_phase(30)">
          30
        </p>
        <ng-template #lockedPhase30>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[29]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[29].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 31 -->
    <div class="phase-select phase-select-31">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[30].estrelas)}">
        <p *ngIf="progressos[30] && !progressos[30].bloqueada; else lockedPhase31" (click)="start_phase(31)">
          31
        </p>
        <ng-template #lockedPhase31>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[30]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[30].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 32 -->
    <div class="phase-select phase-select-32">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[31].estrelas)}">
        <p *ngIf="progressos[31] && !progressos[31].bloqueada; else lockedPhase32" (click)="start_phase(32)">
          32
        </p>
        <ng-template #lockedPhase32>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[31]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[31].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 33 -->
    <div class="phase-select phase-select-33">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[32].estrelas)}">
        <p *ngIf="progressos[32] && !progressos[32].bloqueada; else lockedPhase33" (click)="start_phase(33)">
          33
        </p>
        <ng-template #lockedPhase33>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[32]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[32].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 34 -->
    <div class="phase-select phase-select-34">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[33].estrelas)}">
        <p *ngIf="progressos[33] && !progressos[33].bloqueada; else lockedPhase34" (click)="start_phase(34)">
          34
        </p>
        <ng-template #lockedPhase34>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[33]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[33].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 35 -->
    <div class="phase-select phase-select-35">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[34].estrelas)}">
        <p *ngIf="progressos[34] && !progressos[34].bloqueada; else lockedPhase35" (click)="start_phase(35)">
          35
        </p>
        <ng-template #lockedPhase35>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[34]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[34].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 36 -->
    <div class="phase-select phase-select-36">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[35].estrelas)}">
        <p *ngIf="progressos[35] && !progressos[35].bloqueada; else lockedPhase36" (click)="start_phase(36)">
          36
        </p>
        <ng-template #lockedPhase36>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[35]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[35].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 37 -->
    <div class="phase-select phase-select-37">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[36].estrelas)}">
        <p *ngIf="progressos[36] && !progressos[36].bloqueada; else lockedPhase37" (click)="start_phase(37)">
          37
        </p>
        <ng-template #lockedPhase37>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[36]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[36].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 38 -->
    <div class="phase-select phase-select-38">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[37].estrelas)}">
        <p *ngIf="progressos[37] && !progressos[37].bloqueada; else lockedPhase38" (click)="start_phase(38)">
          38
        </p>
        <ng-template #lockedPhase38>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[37]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[37].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 39 -->
    <div class="phase-select phase-select-39">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[38].estrelas)}">
        <p *ngIf="progressos[38] && !progressos[38].bloqueada; else lockedPhase39" (click)="start_phase(39)">
          39
        </p>
        <ng-template #lockedPhase39>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[38]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[38].estrelas)}"></div>
        </div>
      </div>
    </div>

    <!-- Fase 40 -->
    <div class="phase-select phase-select-40">
      <button class="phase-number" [ngStyle]="{'background-image': getBackgroundImage(progressos[39].estrelas)}">
        <p *ngIf="progressos[39] && !progressos[39].bloqueada; else lockedPhase40" (click)="start_phase(40)">
          40
        </p>
        <ng-template #lockedPhase40>
          <img src="../../../../assets/icon-padlock-phases.png" alt="Locked">
        </ng-template>
      </button>

      <div *ngIf="!progressos[39]?.bloqueada" class="progress-stars-bar-container">
        <div class="progress-stars-bar">
          <div class="progress" [ngStyle]="{'width': getProgressWidth(progressos[39].estrelas)}"></div>
        </div>
      </div>
    </div>
  </div>
</main>
