<main>
  <div class="container">
    <app-header-stars-lives-config></app-header-stars-lives-config>

    <div class="phase-select phase-select-1">
      <button class="phase-number">
        <p (click)="start_phase(1)">1</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-2">
      <button class="phase-number">
        <p (click)="start_phase(2)">2</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-3">
      <button class="phase-number">
        <p (click)="start_phase(3)">3</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-4">
      <button class="phase-number">
        <p (click)="start_phase(4)">4</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-5">
      <button class="phase-number">
        <p (click)="start_phase(5)">5</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-6">
      <button class="phase-number">
        <p (click)="start_phase(6)">6</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-7">
      <button class="phase-number">
        <p (click)="start_phase(7)">7</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-8">
      <button class="phase-number">
        <p (click)="start_phase(8)">8</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-9">
      <button class="phase-number">
        <p (click)="start_phase(9)">9</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-10">
      <button class="phase-number">
        <p (click)="start_phase(10)">10</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-11">
      <button class="phase-number">
        <p (click)="start_phase(11)">11</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-12">
      <button class="phase-number">
        <p (click)="start_phase(12)">12</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-13">
      <button class="phase-number">
        <p (click)="start_phase(13)">13</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-14">
      <button class="phase-number">
        <p (click)="start_phase(14)">14</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-15">
      <button class="phase-number">
        <p (click)="start_phase(15)">15</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-16">
      <button class="phase-number">
        <p (click)="start_phase(16)">16</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-17">
      <button class="phase-number">
        <p (click)="start_phase(17)">17</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-18">
      <button class="phase-number">
        <p (click)="start_phase(18)">18</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-19">
      <button class="phase-number">
        <p (click)="start_phase(19)">19</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-20">
      <button class="phase-number">
        <p (click)="start_phase(20)">20</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-21">
      <button class="phase-number">
        <p (click)="start_phase(21)">21</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-22">
      <button class="phase-number">
        <p (click)="start_phase(22)">22</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-23">
      <button class="phase-number">
        <p (click)="start_phase(23)">23</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-24">
      <button class="phase-number">
        <p (click)="start_phase(24)">24</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-25">
      <button class="phase-number">
        <p (click)="start_phase(25)">25</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-26">
      <button class="phase-number">
        <p (click)="start_phase(26)">26</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-27">
      <button class="phase-number">
        <p (click)="start_phase(27)">27</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-28">
      <button class="phase-number">
        <p (click)="start_phase(28)">28</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-29">
      <button class="phase-number">
        <p (click)="start_phase(29)">29</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-30">
      <button class="phase-number">
        <p (click)="start_phase(30)">30</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-31">
      <button class="phase-number">
        <p (click)="start_phase(31)">31</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-32">
      <button class="phase-number">
        <p (click)="start_phase(32)">32</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-33">
      <button class="phase-number">
        <p (click)="start_phase(33)">33</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-34">
      <button class="phase-number">
        <p (click)="start_phase(34)">34</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-35">
      <button class="phase-number">
        <p (click)="start_phase(35)">35</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-36">
      <button class="phase-number">
        <p (click)="start_phase(36)">36</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-37">
      <button class="phase-number">
        <p (click)="start_phase(37)">37</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-38">
      <button class="phase-number">
        <p (click)="start_phase(38)">38</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-39">
      <button class="phase-number">
        <p (click)="start_phase(39)">39</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

    <div class="phase-select phase-select-40">
      <button class="phase-number">
        <p (click)="start_phase(40)">40</p>
      </button>
      <div class="progress-stars-bar-container">
        <div class="progress-stars-bar"></div>
      </div>
    </div>

  </div>
</main>
