<main>
  <app-header-home></app-header-home>
  <div class="container-form">
    <div class="container-form-tittle">
      <p>ENTRAR</p>
    </div>
    <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="auth(login.value, senha.value)">
      <div class="container-form-input">
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-pencil.png" alt="icon-pen" class="icon-pen">
          </div>
          <input type="text" name="login" #login="ngModel" ngModel required placeholder="APELIDO">
        </div>
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-padlock.png" alt="icon-padlock" class="icon-padlock">
          </div>
          <div class="icon-password">
            <img [src]="'../../../../assets/' + iconEye" alt="icon-eye" class="icon-eye" (click)="togglePasswordVisibility()">
          </div>
          <input type="password" name="senha" #senha="ngModel" ngModel required placeholder="SENHA" [type]="senhaVisivel ? 'text' : 'password'">
        </div>
      </div>
      <div class="container-form-router-link">
        <a [routerLink]="['/register']"><p>Criar cadastro</p></a>
        <a [routerLink]="['/new-password']"><p>Esqueceu a senha?</p></a>
      </div>
      <div class="button-main">
        <button mat-button class="button-main-red" [disabled]="!loginForm.form.valid">CONFIRMAR</button>
      </div>
    </form>
  </div>
</main>
