<main>
  <app-header-home-config></app-header-home-config>
  <div class="container-form">
    <div class="container-form-tittle">
      <p>ENTRAR</p>
    </div>
    <form>
      <div class="container-form-input">
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-pencil.png" alt="icon-pen" class="icon-pen">
          </div>
          <input type="" name="" id="" placeholder="APELIDO">
        </div>
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-padlock.png" alt="icon-padlock" class="icon-padlock">
          </div>
          <div class="icon-password">
            <img src="../../../../assets/icon-eye.png" alt="icon-eye" class="icon-eye">
          </div>
          <input type="" name="" id="" placeholder="SENHA">
        </div>
      </div>
      <div class="container-form-router-link">
        <p>Criar cadastro</p>
        <p>Esqueceu a senha?</p>
      </div>
    </form>
  </div>
  <div class="button-main"><button class="button-main-red">CONFIRMAR</button></div>
</main>
