<main>
  <app-header-home></app-header-home>
  <div class="container-form">
    <div class="container-form-tittle">
      <p>ENTRAR</p>
    </div>
    <form>
      <div class="container-form-input">
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-pencil.png" alt="icon-pen" class="icon-pen">
          </div>
          <input type="" name="" #login placeholder="APELIDO">
        </div>
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-padlock.png" alt="icon-padlock" class="icon-padlock">
          </div>
          <div class="icon-password">
            <img [src]="'../../../../assets/' + iconEye" alt="icon-eye" class="icon-eye" (click)="togglePasswordVisibility()">
          </div>
          <input type="password" #senha placeholder="SENHA">
        </div>
      </div>
      <div class="container-form-router-link">
        <a [routerLink]="['/register']"><p>Criar cadastro</p></a>
        <p>Esqueceu a senha?</p>
      </div>
    </form>
  </div>
  <div class="button-main">
    <button class="button-main-red" (click)="auth(login.value, senha.value)">CONFIRMAR</button>
  </div>
</main>
