* {
  font-family: "Gluten", cursive;
  font-weight: 400;
  color: white;
}

main {
  background: url("../assets/background-iPhone.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: 50%;

  @media (min-width: 540px) {
    background: url("../assets/background-iPad.jpg");
    background-size: cover;
    background-position: 50%;
  }
}

@font-face {
  font-family: 'Gluten';
  src: url('../assets/fonts/Gluten/static/Gluten-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gluten';
  src: url('../assets/fonts/Gluten/static/Gluten-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gluten';
  src: url('../assets/fonts/Gluten/static/Gluten-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gluten';
  src: url('../assets/fonts/Gluten/static/Gluten-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gluten';
  src: url('../assets/fonts/Gluten/static/Gluten-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gluten';
  src: url('../assets/fonts/Gluten/static/Gluten-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gluten';
  src: url('../assets/fonts/Gluten/static/Gluten-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gluten';
  src: url('../assets/fonts/Gluten/static/Gluten-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gluten';
  src: url('../assets/fonts/Gluten/static/Gluten-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
