<main>
  <app-header-map></app-header-map>
  <div class="container-form">
    <div class="container-form-tittle">
      <p>CONFIGURAÇÕES</p>
    </div>
    <form>
      <div class="container-form-input">
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-pencil.png" alt="icon-pen" class="icon-pen">
          </div>
          <input type="" name="" id="" placeholder="ALTERAR NOME">
        </div>
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-padlock.png" alt="icon-padlock" class="icon-padlock">
          </div>
          <div class="icon-password">
            <img src="../../../../assets/icon-eye.png" alt="icon-eye" class="icon-eye">
          </div>
          <input type="" name="" id="" placeholder="ALTERAR SENHA">
        </div>
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-loudspeaker.png" alt="icon-loudspeaker" class="icon-loudspeaker">
          </div>
          <input type="" name="" id="">
        </div>
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-musical-note.png" alt="icon-musical-note" class="icon-musical-note">
          </div>
          <input type="" name="" id="">
        </div>
      </div>
      <div class="container-icon-exit">
        <button class="icon-exit" (click)="logout()">
          <img src="../../../../assets/icon-exit.png" alt="icon-exit" class="icon-exit-img">
        </button>
      </div>
    </form>
  </div>
  <div class="button-main"><button class="button-main-red">CONFIRMAR</button></div>
</main>
