@import "../../../../config-scss/size-config.scss";

:host {
  .container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .container-form-tittle {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: #9E6B2B;
      width: size-calc-iPhone(318);
      height: size-calc-iPhone(64);
      border: size-calc-iPhone(5) solid #C2955C;
      border-radius: size-calc-iPhone(30);
      margin-bottom: size-calc-iPhone(260);

      @media (min-width: 540px) {
        width: size-calc-iPad(415);
        height: size-calc-iPad(78);
        border: size-calc-iPad(5) solid #C2955C;
        border-radius: size-calc-iPad(30);
        margin-bottom: size-calc-iPad(328);
      }

      p {
        margin: auto 0;
        font-size: size-calc-iPhone(32);
        letter-spacing: size-calc-iPhone(3);
        text-shadow: size-calc-iPhone(-0.5) 0 black, 0 size-calc-iPhone(0.5) black, size-calc-iPhone(0.5) 0 black, 0 size-calc-iPhone(-0.5) black;

        @media (min-width: 540px) {
          font-size: size-calc-iPad(40);
          letter-spacing: size-calc-iPad(3);
          text-shadow: size-calc-iPad(-1) 0 black, 0 size-calc-iPad(1) black, size-calc-iPad(1) 0 black, 0 size-calc-iPad(-1) black;
        }
      }
    }

    form {
      background: url("../../../../assets/box-auth-iPhone.png");
      background-size: cover;
      width: size-calc-iPhone(358);
      height: size-calc-iPhone(260);
      border-radius: size-calc-iPhone(30);

      @media (min-width: 540px) {
        background: url("../../../../assets/box-auth-iPad.png");
        background-size: cover;
        width: size-calc-iPad(540);
        height: size-calc-iPad(385);
        border-radius: size-calc-iPad(50);
      }

      .container-form-input {
        display: flex;
        align-items: start;
        flex-direction: column;
        margin-top: size-calc-iPhone(67);
        gap: size-calc-iPhone(16);


        @media (min-width: 540px) {
          margin-top: size-calc-iPad(116.5);
          gap: size-calc-iPad(28);
        }

        .visao-geral {
          margin-left: size-calc-iPhone(32);
          font-weight: 700;
          font-size: size-calc-iPhone(24);
          letter-spacing: size-calc-iPhone(1);
          text-shadow: size-calc-iPhone(-0.5) 0 black, 0 size-calc-iPhone(0.5) black, size-calc-iPhone(0.5) 0 black, 0 size-calc-iPhone(-0.5) black;
          height: 0;
          padding-bottom: size-calc-iPhone(8);

          @media (min-width: 540px) {
            margin-left: size-calc-iPad(64);
            font-size: size-calc-iPad(32);
            letter-spacing: size-calc-iPad(1);
            text-shadow: size-calc-iPad(-1) 0 black, 0 size-calc-iPad(1) black, size-calc-iPad(1) 0 black, 0 size-calc-iPad(-1) black;
            padding-bottom: size-calc-iPad(8);
          }
        }

        .dados {
          margin-left: size-calc-iPhone(32);
          font-size: size-calc-iPhone(20);
          letter-spacing: size-calc-iPhone(1);
          font-weight: 600;
          height: 0;
          //text-shadow: size-calc-iPhone(-0.25) 0 black, 0 size-calc-iPhone(0.25) black, size-calc-iPhone(0.25) 0 black, 0 size-calc-iPhone(-0.25) black;

          @media (min-width: 540px) {
            margin-left: size-calc-iPad(64);
            font-size: size-calc-iPad(28);
            letter-spacing: size-calc-iPad(1);
            //text-shadow: size-calc-iPad(-0.5) 0 black, 0 size-calc-iPad(0.5) black, size-calc-iPad(0.5) 0 black, 0 size-calc-iPad(-0.5) black;
          }
        }

        .icon {
          position: absolute;
          width: size-calc-iPhone(32);
          height: size-calc-iPhone(32);
          box-shadow: 0px size-calc-iPhone(4) size-calc-iPhone(4) 0px rgba(0,0,0,0.25);
          border-radius: size-calc-iPhone(10);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: size-calc-iPhone(8);
          margin-left: size-calc-iPhone(30);

          @media (min-width: 540px) {
            width: size-calc-iPad(40);
            height: size-calc-iPad(40);
            box-shadow: 0px size-calc-iPad(4) size-calc-iPad(4) 0px rgba(0,0,0,0.25);
            border-radius: size-calc-iPad(14);
            margin-top: size-calc-iPad(10);
            margin-left: size-calc-iPad(30);
          }

        .icon-pen {
          width: size-calc-iPhone(12);
          height: size-calc-iPhone(20);

          @media (min-width: 540px) {
            width: size-calc-iPad(14);
            height: size-calc-iPad(22);
            }
          }

        .icon-padlock {
          width: size-calc-iPhone(16);
          height: size-calc-iPhone(16);

          @media (min-width: 540px) {
            width: size-calc-iPad(18);
            height: size-calc-iPad(18);
            }
          }

        .icon-loudspeaker {
          width: size-calc-iPhone(20);
          height: size-calc-iPhone(16);

          @media (min-width: 540px) {
            width: size-calc-iPad(22);
            height: size-calc-iPad(18);
            }
          }

          .icon-musical-note {
          width: size-calc-iPhone(20);
          height: size-calc-iPhone(20);

          @media (min-width: 540px) {
            width: size-calc-iPad(22);
            height: size-calc-iPad(22);
            }
          }
        }

        .icon-password {
          position: absolute;
          margin-top: size-calc-iPhone(19);
          margin-left: size-calc-iPhone(298);

          @media (min-width: 540px) {
            margin-top: size-calc-iPad(19);
            margin-left: size-calc-iPad(387);
          }

          .icon-eye {
            width: size-calc-iPhone(15);
            height: size-calc-iPhone(15);

            @media (min-width: 540px) {
              width: size-calc-iPad(18);
              height: size-calc-iPad(18);
            }
          }
        }

        input {
          width: size-calc-iPhone(181);
          height: size-calc-iPhone(40);
          background-color: #9E6B2B;
          border: size-calc-iPhone(5) solid #C2955C;
          border-radius: size-calc-iPhone(10);
          box-shadow: 0 size-calc-iPhone(4) size-calc-iPhone(4) 0 rgba(0, 0, 0, 0.25);
          padding-left: size-calc-iPhone(87);
          padding-right: size-calc-iPhone(50);
          color: #FFFFFF;
          font-size: size-calc-iPhone(18);
          font-weight: 300;

          @media (min-width: 540px) {
            width: size-calc-iPad(278);
            height: size-calc-iPad(50);
            border: size-calc-iPad(5) solid #C2955C;
            border-radius: size-calc-iPad(14);
            box-shadow: 0 size-calc-iPad(4) size-calc-iPad(4) 0 rgba(0, 0, 0, 0.25);
            padding-left: size-calc-iPad(87);
            padding-right: size-calc-iPad(50);
            font-size: size-calc-iPad(24);
          }
        }

        & input::placeholder {
          color: rgba(255, 255, 255, 0.5);
          font-size: size-calc-iPhone(18);
          font-weight: 300;

          @media (min-width: 540px) {
            font-size: size-calc-iPad(24);
          }
        }
      }
    }

    .container-icon-exit {
      position: absolute;
      margin-left: size-calc-iPhone(281);
      margin-top: size-calc-iPhone(16);

      @media (min-width: 540px) {
        margin-left: size-calc-iPad(409);
        margin-top: size-calc-iPad(28);
      }

      .icon-exit {
        background-color: #EF3349;
        width: size-calc-iPhone(36);
        height: size-calc-iPhone(36);
        border-radius: size-calc-iPhone(12);
        box-shadow: 0px size-calc-iPhone(3) 0px 0px #D92036;
        transition: all 0.2s ease-in-out;

        @media (min-width: 540px) {
          width: size-calc-iPad(44);
          height: size-calc-iPad(44);
          border-radius: size-calc-iPad(16);
          box-shadow: 0px size-calc-iPad(3) 0px 0px #D92036;
        }

        &:active {
          box-shadow: 0 size-calc-iPhone(2) #D92036;
          transform: translateY(size-calc-iPhone(2));

          @media (min-width: 540px) {
            box-shadow: 0 size-calc-iPad(2) #D92036;
            transform: translateY(size-calc-iPad(2));
          }
        }

        .icon-exit-img {
          width: size-calc-iPhone(14);
          height: size-calc-iPhone(14);

          @media (min-width: 540px) {
            width: size-calc-iPad(16);
            height: size-calc-iPad(16);
          }
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .container-leave {
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: size-calc-iPhone(210 + 16);
      background-color: #1A1A1A;
      z-index: 1000;

      @media (min-width: 540px) {
        height: size-calc-iPad(290 + 16);
      }

      .button-continue {
        text-align: center;
        margin-top: size-calc-iPhone(36 + 16);

        @media (min-width: 540px) {
          margin-top: size-calc-iPad(47 + 16);
        }

        p {
          font-size: size-calc-iPhone(14);
          letter-spacing: size-calc-iPhone(1);

          @media (min-width: 540px) {
            font-size: size-calc-iPad(18);
            letter-spacing: size-calc-iPad(1);
          }
        }
      }
    }
  }
}
