<main>
  <app-header-map></app-header-map>
  <div class="container-form">
    <div class="container-form-tittle">
      <p>PERFIL</p>
    </div>
    <form>
    <div class="container-form-input">
      <p class="visao-geral">VISÃO GERAL</p>
      <p class="dados">&#64;{{ nome }}</p>
      <p class="dados">{{ apelido }}</p>
      <p class="dados">ESTRELAS: {{ estrelas }}/120</p>
    </div>
    <div class="container-icon-exit">
      <button class="icon-exit" type="button" (click)="showLeave()">
        <img src="../../../../assets/icon-exit.png" alt="icon-exit" class="icon-exit-img">
      </button>
    </div>
    </form>
  </div>
</main>

<div *ngIf="showLeaveContainer" class="overlay" (click)="continueActivity()">
  <div class="container-leave" (click)="$event.stopPropagation()">
    <div class="button-continue">
      <button (click)="continueActivity()"><p>CONTINUAR NO JOGO</p></button>
    </div>
    <div class="button-main">
      <button class="button-main-red" (click)="exit()">SAIR</button>
    </div>
  </div>
</div>
