<main>
  <app-header-auth-home></app-header-auth-home>
  <div class="container-form">
    <div class="container-form-tittle">
      <p>CADASTRAR</p>
    </div>
    <form #registerForm="ngForm" autocomplete="off">
      <div class="container-form-input">
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-pencil.png" alt="icon-pen" class="icon-pen">
          </div>
          <input type="text" name="nome" #nome="ngModel" ngModel required maxlength="100" placeholder="NOME"
            [ngClass]="{'input-error': (formSubmitted && nome.invalid) || (nome.touched && nome.invalid)}">
        </div>
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-pencil.png" alt="icon-pen" class="icon-pen">
          </div>
          <input type="text" name="apelido" #apelido="ngModel" ngModel required maxlength="100" placeholder="APELIDO"
            [ngClass]="{'input-error': (formSubmitted && apelido.invalid) || (apelido.touched && apelido.invalid)}">
        </div>
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-card.png" alt="icon-card" class="icon-card">
          </div>
          <input type="email" name="email" #email="ngModel" ngModel required email placeholder="E-MAIL"
            [ngClass]="{'input-error': (formSubmitted && email.invalid) || (email.touched && email.invalid)}">
        </div>
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-phone.png" alt="icon-phone" class="icon-phone">
          </div>
          <input type="text" name="telefone" #telefone="ngModel" ngModel required maxlength="11" placeholder="TELEFONE"
            (input)="formatTelefone($event)" [ngClass]="{'input-error': (formSubmitted && telefone.invalid) || (telefone.touched && telefone.invalid)}"
            [ngModelOptions]="{ updateOn: 'blur' }" [ngModel]="telefone.value" (ngModelChange)="telefone.control.setErrors(validateTelefone(telefone))">
        </div>
        <div>
          <div class="icon">
            <img src="../../../../assets/icon-padlock.png" alt="icon-padlock" class="icon-padlock">
          </div>
          <div class="icon-password">
            <img [src]="'../../../../assets/' + iconEye" alt="icon-eye" class="icon-eye" (click)="togglePasswordVisibility()">
          </div>
          <input type="password" name="senha" #senha="ngModel" ngModel required maxlength="100" placeholder="SENHA"
            [type]="senhaVisivel ? 'text' : 'password'"
            [ngClass]="{'input-error': (formSubmitted && senha.invalid) || (senha.touched && senha.invalid)}">
        </div>
      </div>
    </form>
  </div>
  <div class="button-main">
    <button class="button-main-red" (click)="post(nome.value, apelido.value, email.value, telefone.value, senha.value)">CONFIRMAR</button>
  </div>
</main>
