@import "../../../../config-scss/size-config.scss";

:host {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .logotipo-wrapper {
      display: inline-block; // Wrapper para isolar o transform
      animation: floating 3s ease-in-out infinite;

      .logotipo {
        width: size-calc-iPhone(358);
        height: auto;

        @media (min-width: 540px) {
          width: size-calc-iPad(530);
          height: auto;
        }
      }
    }
  }

  @keyframes floating {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
}
