<main>
  <div class="container">
    <button class="button-to-close" (click)="close()"><p>></p></button>
    <h1>RESPOSTAS CORRETAS</h1>
    <img src="../../../../../assets/codesauro-two-stars.png" class="codesauro-img" alt="codesauro-two-stars">
    <img src="../../../../../assets/two-stars.png" class="stars-img" alt="two-stars">
    <div class="container-p">
      <p>Parabéns!</p>
      <br>
      <p>Continue assim!</p>
    </div>
    <img src="../../../../../assets/shine-two-stars.png" class="shine-img" alt="shine-two-stars">
  </div>
</main>
