<main>
  <div class="container">
    <button class="button-to-close" (click)="close()"><p>></p></button>
    <h1>USUÁRIO CADASTRADO COM SUCESSO</h1>
    <img src="../../../../../assets/codesauro-three-stars.png" class="codesauro-img" alt="codesauro-three-stars">
    <div class="container-p">
      <p>Chegou o momento de se tornar um mestre na lógica de programação!</p>
    </div>
    <img src="../../../../../assets/shine-three-stars.png" class="shine-img" alt="shine-three-stars">
  </div>
</main>
