<main>
  <div class="container">
    <button class="button-to-close" (click)="close()"><p>></p></button>
    <h1>SUAS VIDAS ACABARAM</h1>
    <img src="../../../../../assets/codesauro-without-life.png" class="codesauro-img" alt="codesauro-without-life">
    <img src="../../../../../assets/zero-star.png" class="stars-img" alt="zero-star">
    <div class="container-p">
      <p>Eita, suas vidas acabaram</p>
      <p>Volte mais tarde e não desista!</p>
    </div>
    <div class="container-heart">
      <p>-</p>
      <img src="../../../../../assets/icon-heart-without-life.png" class="icon-heart-without-life-img" alt="icon-heart-without-life">
    </div>
    <img src="../../../../../assets/shine-zero-star.png" class="shine-img" alt="shine-zero-star">
  </div>
</main>
