<div class="container">
  <div><img src="../../../assets/logotipo-text.png" class="logotipo-text" alt="logotipo-text"></div>
  <div class="container-button">
    <a [routerLink]="['/auth']">
      <button class="button-icon"><img src="../../../assets/icon-auth.png" class="button-icon-auth-img" alt="button-icon-auth"></button>
    </a>
    <a [routerLink]="['/']">
      <button class="button-icon"><img src="../../../assets/icon-house.png" class="button-icon-house-img" alt="button-icon-house"></button>
    </a>
  </div>
</div>
