<main>
  <div class="container">
    <button class="button-to-close" (click)="close()"><p>></p></button>
    <h1>RESPOSTAS CORRETAS</h1>
    <img src="../../../../../assets/codesauro-one-star.png" class="codesauro-img" alt="codesauro-one-star">
    <img src="../../../../../assets/one-star.png" class="stars-img" alt="one-star">
    <div class="container-p">
      <p>Você conseguiu!</p>
      <p>Continue assim!</p>
    </div>
    <img src="../../../../../assets/shine-one-star.png" class="shine-img" alt="shine-one-star">
  </div>
</main>
