<div class="container">
  <div><img src="../../../assets/logotipo-text.png" class="logotipo-text" alt="logotipo-text"></div>
  <div class="container-icons">
    <div class="container-stars">
      <img src="../../../assets/icon-star.png" alt="icon-star" class="icon-star">
      <p>{{ estrelas }}</p>
    </div>
    <button class="container-lives" (click)="toggleTeste()" (document:click)="onClickOutside($event)">
      <img src="../../../assets/icon-heart.png" alt="icon-heart" class="icon-heart">
      <p>{{ vidas }}</p>
    </button>
    <div class="life-time" *ngIf="isTesteVisible"><p>{{ tempoRestante }}</p></div>
  </div>
  <div class="container-button">
    <a [routerLink]="['/authenticated/settings']">
      <button class="button-icon">
        <img src="../../../assets/icon-puzzle.png" class="button-icon-puzzle-img" alt="button-icon-puzzle">
      </button>
    </a>
  </div>
</div>
