@import "../../../../../config-scss/size-config.scss";

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.context-phase {
  position: absolute;
  margin-top: size-calc-iPhone(154);
  margin-left: size-calc-iPhone(16);

  @media (min-width: 540px) {
    margin-top: size-calc-iPad(212);
    margin-left: size-calc-iPad(128);
  }

  p {
    font-size: size-calc-iPhone(22);
    font-weight: 700;
    text-shadow: size-calc-iPhone(-1) 0 black, 0 size-calc-iPhone(1) black, size-calc-iPhone(1) 0 black, 0 size-calc-iPhone(-1) black;

    @media (min-width: 540px) {
      font-size: size-calc-iPad(30);
      text-shadow: size-calc-iPad(-1) 0 black, 0 size-calc-iPad(1) black, size-calc-iPad(1) 0 black, 0 size-calc-iPad(-1) black;
    }
  }
}

.selection-group {
  position: relative;
  height: size-calc-iPhone(34 + 8);
  width: size-calc-iPhone(358);
  display: inline-block;
  vertical-align: top;
  overflow: hidden;

  @media (min-width: 540px) {
    width: size-calc-iPad(462);
    height: size-calc-iPad(42 + 12);
  }

  &:first-child {
    margin-top: size-calc-iPhone(205);

    @media (min-width: 540px) {
      margin-top: size-calc-iPad(283);
    }
  }
}

.example-list {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: start;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.50);
  height: size-calc-iPhone(34);
  width: size-calc-iPhone(358);
  border-radius: size-calc-iPhone(10);
  box-shadow: 0 size-calc-iPhone(4) size-calc-iPhone(4) rgba(0, 0, 0, 0.25);

  @media (min-width: 540px) {
    min-height: size-calc-iPad(42);
    gap: size-calc-iPad(42);
    height: size-calc-iPad(42);
    width: size-calc-iPad(462);
    border-radius: size-calc-iPad(12);
    box-shadow: 0 size-calc-iPhone(4) size-calc-iPhone(4) rgba(0, 0, 0, 0.25);
  }
}

.example-box {
  cursor: move;
  user-select: none;
  height: size-calc-iPhone(34);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9E6B2B;
  padding: 0 size-calc-iPhone(12);
  border: solid #C2955C size-calc-iPhone(3);
  border-radius: size-calc-iPhone(10);
  font-size: size-calc-iPhone(20);
  font-weight: 400;
  letter-spacing: size-calc-iPhone(1);
  text-shadow: size-calc-iPhone(-0.5) 0 black, 0 size-calc-iPhone(0.5) black, size-calc-iPhone(0.5) 0 black, 0 size-calc-iPhone(-0.5) black;
  box-sizing: border-box;

  @media (min-width: 540px) {
    height: size-calc-iPad(42);
    padding: 0 size-calc-iPad(20);
    border: solid #C2955C size-calc-iPad(3);
    border-radius: size-calc-iPad(12);
    font-size: size-calc-iPad(28);
    letter-spacing: size-calc-iPad(1);
    text-shadow: size-calc-iPad(-1) 0 black, 0 size-calc-iPad(1) black, size-calc-iPad(1) 0 black, 0 size-calc-iPad(-1) black;
    box-sizing: border-box;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transform: translate3d(0, 0, 0) !important;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.trunk {
  background: url("../../../../../assets/trunk-iPhone.png");
  width: 100vw;
  height: size-calc-iPhone(350);
  background-size: cover;
  position: absolute;
  bottom: 0;

  @media (min-width: 540px) {
    background: url("../../../../../assets/trunk-iPad.png");
    height: size-calc-iPad(491);
    background-size: cover;
  }
}

.container-validation {
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding-bottom: size-calc-iPhone(166);
  padding-left: size-calc-iPhone(16);
  padding-top: size-calc-iPhone(32);

  @media (min-width: 540px) {
    padding-bottom: size-calc-iPad(224);
    padding-left: size-calc-iPad(64);
    padding-top: size-calc-iPad(32);
  }

  &.correct {
    background-color: #24a424;
  }

  &.incorrect {
    background-color: #ec5353;
  }

  .correct {
    width: size-calc-iPhone(358);
    display: flex;
    flex-direction: column;
    gap: size-calc-iPhone(8);

    @media (min-width: 540px) {
      width: size-calc-iPad(708);
      gap: size-calc-iPad(16);
    }

    .p-correct {
      font-size: size-calc-iPhone(24);
      font-weight: 600;
      letter-spacing: size-calc-iPhone(1);
      text-shadow: size-calc-iPhone(-0.5) 0 black, 0 size-calc-iPhone(0.5) black, size-calc-iPhone(0.5) 0 black, 0 size-calc-iPhone(-0.5) black;

      @media (min-width: 540px) {
        font-size: size-calc-iPad(32);
        letter-spacing: size-calc-iPad(1);
        text-shadow: size-calc-iPad(-1) 0 black, 0 size-calc-iPad(1) black, size-calc-iPad(1) 0 black, 0 size-calc-iPad(-1) black;
      }
    }

    .p-right-answer {
      font-size: size-calc-iPhone(24);
      font-weight: 300;
      text-shadow: size-calc-iPhone(-0.5) 0 black, 0 size-calc-iPhone(0.5) black, size-calc-iPhone(0.5) 0 black, 0 size-calc-iPhone(-0.5) black;

      @media (min-width: 540px) {
        font-size: size-calc-iPad(32);
        text-shadow: size-calc-iPad(-1) 0 black, 0 size-calc-iPad(1) black, size-calc-iPad(1) 0 black, 0 size-calc-iPad(-1) black;
      }
    }
  }

  .incorrect {
    width: size-calc-iPhone(358);
    display: flex;
    flex-direction: column;
    gap: size-calc-iPhone(8);

    @media (min-width: 540px) {
      width: size-calc-iPad(708);
      gap: size-calc-iPad(16);
    }

    .p-incorrect {
      font-size: size-calc-iPhone(24);
      font-weight: 600;
      letter-spacing: size-calc-iPhone(1);
      margin-bottom: size-calc-iPhone(8);
      text-shadow: size-calc-iPhone(-0.5) 0 black, 0 size-calc-iPhone(0.5) black, size-calc-iPhone(0.5) 0 black, 0 size-calc-iPhone(-0.5) black;

      @media (min-width: 540px) {
        font-size: size-calc-iPad(32);
        letter-spacing: size-calc-iPad(1);
        margin-bottom: size-calc-iPad(16);
        text-shadow: size-calc-iPad(-1) 0 black, 0 size-calc-iPad(1) black, size-calc-iPad(1) 0 black, 0 size-calc-iPad(-1) black;
      }
    }

    .p-right-answer {
      font-size: size-calc-iPhone(24);
      font-weight: 600;
      text-shadow: size-calc-iPhone(-0.5) 0 black, 0 size-calc-iPhone(0.5) black, size-calc-iPhone(0.5) 0 black, 0 size-calc-iPhone(-0.5) black;

      @media (min-width: 540px) {
        font-size: size-calc-iPad(32);
        text-shadow: size-calc-iPad(-1) 0 black, 0 size-calc-iPad(1) black, size-calc-iPad(1) 0 black, 0 size-calc-iPad(-1) black;
      }
    }

    .interpolation-right-answer {
      font-size: size-calc-iPhone(24);
      font-weight: 300;
      text-shadow: size-calc-iPhone(-0.5) 0 black, 0 size-calc-iPhone(0.5) black, size-calc-iPhone(0.5) 0 black, 0 size-calc-iPhone(-0.5) black;

      @media (min-width: 540px) {
        font-size: size-calc-iPad(32);
        text-shadow: size-calc-iPad(-1) 0 black, 0 size-calc-iPad(1) black, size-calc-iPad(1) 0 black, 0 size-calc-iPad(-1) black;
      }
    }
  }
}

.container-maze {
  background-color: rgba(0, 0, 0, 0.8);
  height: size-calc-iPhone(382);
  width: 100vw;
  position: absolute;
  bottom: 0;

  @media (min-width: 540px) {
    height: size-calc-iPad(548);
  }

  .maze {
    display: flex;
    flex-wrap: wrap;
    height: size-calc-iPhone(200);
    width: size-calc-iPhone(300);
    margin-top: size-calc-iPhone(25);
    margin-left: size-calc-iPhone(45);

    @media (min-width: 540px) {
      height: size-calc-iPad(288);
      width: size-calc-iPad(432);
      margin-top: size-calc-iPad(32);
      margin-left: size-calc-iPad(201);
    }

    .maze-block, .invisible, .red, .green {
      height: size-calc-iPhone(48);
      width: size-calc-iPhone(48);
      border: solid #FFFFFF size-calc-iPhone(1);
      border-radius: size-calc-iPhone(10);
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: 540px) {
        height: size-calc-iPad(68);
        width: size-calc-iPad(68);
        border: solid #FFFFFF size-calc-iPad(2);
        border-radius: size-calc-iPad(12);
      }
    }

    .invisible {
      height: size-calc-iPhone(50);
      width: size-calc-iPhone(50);
      border: none;

      @media (min-width: 540px) {
        height: size-calc-iPad(72);
        width: size-calc-iPad(72);
      }

      .icon-wood {
        background-image: url("../../../../../assets/icon-wood.png");
        background-size: cover;
        width: size-calc-iPhone(46);
        height: size-calc-iPhone(40);
        transform: rotate(25deg);

        @media (min-width: 540px) {
          width: size-calc-iPad(68);
          height: size-calc-iPad(60);
        }
      }
    }

    .red {
      background-color: #EF3349;

      p {
        font-size: size-calc-iPhone(28);
        margin: 0;
        text-align: center;

        @media (min-width: 540px) {
          font-size: size-calc-iPad(36);
        }
      }
    }

    .green {
      background-color: #41A014;
    }
  }
}
