@import "../../../../../config-scss/size-config.scss";

.container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.30);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.selection-group {
  position: relative;
  width: size-calc-iPhone(358);
  height: size-calc-iPhone(260);
  display: inline-block;
  vertical-align: top;
  overflow: hidden;

  @media (min-width: 540px) {
    width: size-calc-iPad(530);
    height: size-calc-iPad(278);
  }

  &:first-child {
    margin-top: size-calc-iPhone(198);

    @media (min-width: 540px) {
      margin-top: size-calc-iPad(311);
    }
  }

  &:last-child {
    position: absolute;
    bottom: 0;
    margin-bottom: size-calc-iPhone(60);

    @media (min-width: 540px) {
      margin-bottom: size-calc-iPad(168);
    }
  }
}

.example-list {
  min-height: size-calc-iPhone(50);
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: size-calc-iPhone(8);
  overflow: hidden;

  @media (min-width: 540px) {
    min-height: size-calc-iPad(50);
    gap: size-calc-iPad(12);
  }
}

.example-box {
  cursor: move;
  user-select: none;
  height: size-calc-iPhone(36);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9E6B2B;
  padding: 0 size-calc-iPhone(12);
  border: solid #C2955C size-calc-iPhone(3);
  border-radius: size-calc-iPhone(10);
  font-size: size-calc-iPhone(28);
  font-weight: 400;
  letter-spacing: size-calc-iPhone(1);
  text-shadow: size-calc-iPhone(-0.5) 0 black, 0 size-calc-iPhone(0.5) black, size-calc-iPhone(0.5) 0 black, 0 size-calc-iPhone(-0.5) black;
  box-sizing: border-box;

  @media (min-width: 540px) {
    height: size-calc-iPad(44);
    padding: 0 size-calc-iPad(20);
    border: solid #C2955C size-calc-iPad(3);
    border-radius: size-calc-iPad(10);
    font-size: size-calc-iPad(36);
    letter-spacing: size-calc-iPad(1);
    text-shadow: size-calc-iPad(-0.5) 0 black, 0 size-calc-iPad(0.5) black, size-calc-iPad(0.5) 0 black, 0 size-calc-iPad(-0.5) black;
    box-sizing: border-box;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transform: translate3d(0, 0, 0) !important;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.cauldron {
  background: url("../../../../../assets/cauldron-iPhone.png");
  width: 100vw;
  height: size-calc-iPhone(350);
  background-size: cover;
  position: absolute;
  bottom: 0;

  @media (min-width: 540px) {
    background: url("../../../../../assets/cauldron-iPad.png");
    height: size-calc-iPad(491);
    background-size: cover;
  }
}
